NODE_ENV=development
PORT=3000
APP_NAME=experts-backend

DB_HOST=db.YOUR_PROJECT_REF.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_database_password

DATABASE_URL="postgresql://postgres:your_database_password@db.YOUR_PROJECT_REF.supabase.co:5432/postgres?sslmode=require"
